# Big Mac Data Omega
## Your Task
Now it's time to put it all together and complete an activity which demonstrates what you've learned so far. You may use several code windows if this helps.

1) **Read** in the *big_mac_source_data_v2.csv* file and store it in a dataframe.

2) **Remove** the *iso_a3*, *GDP_dollar* and *GDP_local* columns.

3) **Remove** all rows **except** for *Australia*, *Britan*, *France*, *New Zealand* and *United States*. Hint: [Drop All Rows Except](https://www.statology.org/pandas-drop-all-rows-except/).

4) **Create** a new column which calculates the **US dollar price** by multipling *local_price* by *dollar_ex* [How to mulitply two columns in Pandas](https://www.statology.org/pandas-multiply-two-columns/). If you get a warning due to setting a value on copy of a slice, use: 

    `name_of_your_dataframe.loc[:, 'yournewcolumnname'] = ...` 

5) **Calculate** the **mean** for each country in USD. You may need to first isolate each country [Select rows from Dataframe based on Column Values](https://sentry.io/answers/select-rows-from-a-python-pandas-dataframe-based-on-column-values/)

6) Use **matplotlib** to plot a **comparison** of each country's average - look at [matplotlib Bars](https://www.w3schools.com/python/matplotlib_bars.asp)

7) Do step 4 and 5 again for **median**.

8) **Extension:** See if you can simplify step 5-7 into the minimum amount of code possible (use *for loops* and *functions* where possible)

In [20]:
import pandas as pd
big_mac = pd.read_csv('data/big_mac_source_data_v2.csv')
big_mac.drop(columns=['iso_a3', 'GDP_dollar', 'GDP_local'])
big_mac['USD Price'] = big_mac.local_price * big_mac.dollar_ex
fulvalues = []
for name in big_mac["name"]:
    value = 0
    x = 0
    for i in big_mac.loc[big_mac["name"] == name]["USD Price"]:
        value += i
        x += 1
    value = value / x
    big_mac.loc[big_mac["name"] == name]
big_mac['Mean Price'] = fulvalues
big_mac.query("name == 'Australia' | name == 'Britain' | name == 'France' | name == 'New Zealand' | name == 'United States'")

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date,USD Price,Mean Price
1,Australia,AUS,AUD,2.59,1.680000,21762.397,33722.920,2000-04-01,4.351200,6.498154
10,Britain,GBR,GBP,1.90,0.632911,28793.321,17792.754,2000-04-01,1.202532,1.893598
19,New Zealand,NZL,NZD,3.40,2.010000,15347.121,28981.836,2000-04-01,6.834000,8.126496
26,United States,USA,USD,2.24,1.000000,34496.241,34496.241,2000-04-01,2.240000,3.924103
29,Australia,AUS,AUD,3.00,1.980000,20895.397,35885.257,2001-04-01,5.940000,6.498154
...,...,...,...,...,...,...,...,...,...,...
2019,Australia,AUS,AUD,7.45,1.484010,65526.118,94288.250,2023-07-01,11.055873,6.498154
2039,France,FRA,EUR,5.30,0.906990,42409.045,40240.979,2023-07-01,4.807047,3.546676
2040,Britain,GBR,GBP,4.19,0.777210,45294.805,36614.167,2023-07-01,3.256510,1.893598
2066,New Zealand,NZL,NZD,8.10,1.606813,47208.355,74233.989,2023-07-01,13.015184,8.126496
2085,United States,USA,USD,5.58,1.000000,76348.494,76348.494,2023-07-01,5.580000,3.924103